<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724348421082-mibuvhcu8gqtt7ejcaihp522f26r33jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724348421082-mibuvhcu8gqtt7ejcaihp522f26r33jo</string>
	<key>API_KEY</key>
	<string>AIzaSyBz59yJXWnkBQQF07CZrYw1uFuXuIMXN74</string>
	<key>GCM_SENDER_ID</key>
	<string>724348421082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.act</string>
	<key>PROJECT_ID</key>
	<string>act-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>act-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724348421082:ios:62fff596aca7cb2d9036e3</string>
</dict>
</plist>